<p id="notice"><%= notice %></p>

<h1>Список городов</h1>

<table class="table table-striped">
  <tr>
    <th>Название</th>
    <th>Действия</th>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td>
          <%= link_to 'Показать', city %>
          <%= link_to 'Редактировать', edit_city_path(city) %>
          <%= link_to 'Удалить', city, method: :delete, data: { confirm: 'Вы уверены?' } %>
        </td>
      </tr>
  <% end %>
</table>

<br>

<%= link_to '+ Создать город', new_city_path, {:class => 'btn btn-success'} %>

