<p id="notice"><%= notice %></p>

<h1>Listing Hotels</h1>

<div>
  <form action="/hotels" id="index_hotel">

    <%= select_tag(:hotel_country_id, options_for_select(['-'] + @countries.collect { |p| [p.name,p.id] })  )%>
    <%= select_tag(:hotel_region_id, options_for_select(['-']) )%>
    <%= select_tag(:hotel_city_id, options_for_select(['-']) )%>

  </form>
  <%=  %>

  <%=  %>

</div>
<div id="hotels_container_id">

  <table>

    <tr><td>name</td><td></td></tr>
    <% @hotels.each do |hotel| %>
        <tr>
          <td><%= hotel.name %></td>
          <td><%= link_to 'Show', hotel %>
            <%= link_to 'Edit', edit_hotel_path(hotel) %>
            <%= link_to 'Destroy', hotel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>

  </table>
</div>



<br>

<%= link_to 'New Hotel', new_hotel_path %>
