<%= form_for(@region) do |f| %>
  <% if @region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@region.errors.count, "error") %> prohibited this region from being saved:</h2>

      <ul>
      <% @region.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label>Название</label>
    <%= f.text_field :name, {:class => 'form-control' } %>
  </div>
  <div class="form-group">
    <label>Страна</label>
    <%= f.select :country_id, options_for_select( @countries.collect{ |p| [p.name, p.id] } ),{}, {:class => 'form-control' } %>
  </div>
  <div class="form-group">
    <input type="submit" value="Ок" class="btn btn-primary"/>
  </div>
<% end %>
